.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.headerContainer{
  display: flex;
}

.optionsContainer{
  margin-left:  3em;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

/* Slider animation*/

.questionSlide {
    height: fit-content;
    width: 460px;
    border-radius: 50px;
    border: #7E57EF 1px solid;
    overflow: hidden; 
    padding: 0.5em 1.5em 1.5em 1.5em;
}

.questionSlideContainer {
    animation: appear 5s linear forwards infinite;
}

@keyframes appear {
  80%        {opacity: 1;}
  81%, 100%  {opacity: 0;}
} 

.questionContainer{
  text-align: center;
  line-height: 1.1;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 0.75em;
  margin-bottom: 1em;
}

.question {
  color : #818181;
  font-weight: 600;
}

.answer {
  background-color: white;
  border-radius: 65px;
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-top: 0.75em;
  top: 250px;
  box-shadow: 0 0 12px 0 rgba(49, 58, 68, 0.25);
  position: relative;
  color: #6231EC;
  font-weight: 500;
} 

.answer1{
  animation: go-up-first 5s linear forwards infinite;
}

.answer2{
  animation: go-up-second 5s linear forwards infinite;
}

.answer3{
  animation: go-up-third 5s linear forwards infinite;
}

@keyframes go-up-first {
  25%, 100% {
    transform: translateY(-250px);
  }
}

@keyframes go-up-second {
  30%, 100% {
    transform: translateY(-250px);
  }
}

@keyframes go-up-third {
  35%, 100% {
    transform: translateY(-250px);
  }
}

.answerSelectorContainer{
  margin-left: 0.5em;
  margin-right: 1.3em;
  width: 1.5em;
  height: 1.5em;
}
.answerSelector{
  width: 1.25em;
  height: 1.25em;
  border: 3px solid #6231EC;
  border-radius: 9999px;
}

.correctAnswer {
  animation: auto-select 5s linear forwards infinite;
}

@keyframes auto-select {
  45%        {background-color: #ffff;}
  46%, 100%  {background-color: #6231EC;}
} 

.answerText {
  line-height: 1.15;
}